<ion-header>
  <ion-toolbar color="primary">
      <ion-title>
          <img style="border-radius: 50%;" src="assets\africa.jpg" width="80" height="80"> African Revolution
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
    <h3 style="text-align: center;"> African Revolution Scores.</h3>
         
    <ion-card style="background-color: rgb(202, 198, 192)">
        <ion-card-header>
          <ion-card-title>High-Scores</ion-card-title>
        </ion-card-header>
      
        <ion-card-content color="primary">
            <ul *ngFor = "let thescore of  myAnswers">
                
             Your Scores : {{thescore.score}}<br>
                
              </ul>
        </ion-card-content>
      </ion-card>
      <ion-button color="primary" style="padding-right: 80px " routerLink='/home'><ion-icon name="arrow-dropleft-circle"></ion-icon></ion-button>
</ion-content>
