<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
        <img style="border-radius: 50%;" src="assets\africa.jpg" width="80" height="80"> African Revolution.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="secondary">
    <ion-toolbar style="text-align: center" color="secondary">
        <ion-title>
          <ion-button   routerLink='/profiles' color="primary">
        Profile
        </ion-button>

        <ion-button routerLink='/myscores' color="primary">
        Scores
        </ion-button>
        <ion-button routerLink='/login' (click)="logout()" color="primary">
        LogOut
        </ion-button>
        </ion-title>

    </ion-toolbar><br>
<br>
<img style="border-radius: 50%;margin-left: 50px;"  src="assets\Machel.jpg" width="50" height="60">
<img  style="text-align: center"   src="assets\caf.png" width="80" height="80">
<img style="border-radius: 50%;text-align: right"  src="assets\egypt.jpg" width="50" height="60">

  <ion-card  color="primary">
    <ion-card-header>

      <ion-card-title>Welcome to African Revolution</ion-card-title>
    </ion-card-header>

  <ion-card-content>
     <h4>No Quiz Score? Click below to Take Quiz.</h4>
       <div id="getcat">
     <ion-button style="width: 300px;" (click)="GetQuiz()">
      <ion-item >
        <ion-label>Click here to Play.</ion-label>
        <ion-icon name="Play" slot="start"></ion-icon>
      </ion-item></ion-button>
       </div>
    </ion-card-content>
    
    <ion-card color="secondary">
     <table>
         <tr>
           <th> Quiz </th>
           <th></th>
         </tr>

         <tr *ngFor = "let catek of getKategories">
           <td> {{catek.cal_name}} </td>
           <td><ion-button style="width: 150px;" color="primary" routerLink='/play-q' (click)="playQuiz(catek.cal_key)" >Play</ion-button></td>
         </tr>
     </table>
    </ion-card>
    
  </ion-card>   
</ion-content>
